/******************************************************************************
 * File Name    : main.css
 * First Created: Feb 14 -- Yichen Han
 * Last  Revised: Feb 15 -- Suk Chan Lee
 * Curr  Version: 1,1
 * 
 * Description  : 
 * Variables    : 
 * Functions    : 
 * 
 * Next Feature : 
 *****************************************************************************/

body{
    margin: 0 auto;
    white-space: nowrap;
}

#container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10vh 80vh 10vh;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

fieldset {
    border: none;
}

/* ============================================================================
 * Header/Navigation Bar
 =========================================================================== */
#header{
    grid-row     : 1;
    grid-column  : 1 / span 3;
    display: grid;
    grid-template-columns: 15% 15% 40% 30%;
    grid-template-rows: 100%;
    background-color:lightgreen;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 2vh;
}

header > h1 {
    grid-column: 3;
    font-size: 5vh;
    justify-self: center;
    align-self: center;
}

#options{
    grid-column: 4;
    justify-self: stretch;
    display:grid;
    grid-template-columns: 70% 30%;
}

#options > h2 {
    grid-column: 1;
    justify-self: right;
}

#gear {
    height: 4vh;
    width: 4vh;
    grid-column: 2;
    justify-self: left;
    align-self: center;
    margin-left: 2%;
}

#gear:hover {
    opacity:0.3;
}

#welcome{
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
}

/* ============================================================================
 * Timer
 =========================================================================== */

main {
    display      : grid;
    height       : 100%;
    justify-items: center;
    max-height   : 600px;
    max-width    : 50vw;
    width        : 100%;
    grid-row     : 2;
    grid-column  : 2;
}

#mode-selection {
    align-items        : center;
    display            : grid;
    grid-template-areas: "Work Short Long";
    justify-items      : center;
}

#radio-working-mode-container, #radio-shortBreak-mode-container {
    padding-right: 30px;
}


#start-btn {
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    height: 35px;
    margin: 20px auto 0 auto;
    transition: 0.1s ease all;
    width: 100px;
}

#start-btn:hover {
    cursor: pointer;
    background-color: #aaa;
    transition: 0.1s ease all;
}
  
#start-btn-container {
    display: grid;
    justify-items: center;
    width: 100%;
}

#time{
    font-size: 12vh;
}

/* ============================================================================
 * Settings Menu
 =========================================================================== */

#settingsMenu{
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
    background-color:lightgreen;
    border-radius: 8px;
    margin: 2% 5% 5% 2%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 8% 10% 82%;
}

#exitSettings{
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    justify-self:center;
    font-size: 4vh;
}

#exitSettings:hover{
    opacity:0.3;
}

#settingsTitle{
    grid-row:1;
    grid-column: 2;
    align-self: center;
    justify-self:center;
    font-size: 4vh;
}

#volume-controls{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-auto-columns: 20% 80%;
}

#volume-pic{
    height:90%;
    width:90%;
    grid-column: 1;
    align-self: center;
}

#volume-slider{
    grid-column: 2;
    justify-self: stretch;
}

/* ============================================================================
 * Footer
 =========================================================================== */

footer {
    grid-column: 1 / span 3;
    grid-row: 3;
    background-color:lightgreen;
}