/******************************************************************************
 * File Name    : main.css
 * First Created: Feb 14
 * Last  Revised: Mar 11 -- Yichen Han
 * Curr  Version: 3.0
 * 
 * Description  : 
 * Variables    : 
 * Functions    : 
 * 
 * Next Feature : 
 *****************************************************************************/

#body {
    margin: 0 auto;
    white-space: nowrap;
    background-image: url("assets/wildjungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* min-width: 500px; */
    /* min-height: 800px; */
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10vh 80vh 10vh;
    margin: 0;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

fieldset {
    border: none;
}

/* ============================================================================
 * Login Notification
 =========================================================================== */
/* Hey There! page */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#loginNotification{
    z-index: 4;
    grid-row: 2;
    grid-column: 2;
    background-image: url("./assets/Tomato_je.jpg");
    background-size: cover;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    height: 40%;
    width: 70%; /* Revised -Stuart */
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 15% 40% 25%;
    grid-template-columns: 50% 50%;
    min-height: 200px;
    min-width: 250px;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#loginNotification{
    z-index: 4;
    grid-row: 2;
    grid-column: 2;
    background-image: url("./assets/Tomato_je.jpg");
    background-size: cover;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    height: 40%;
    width: 80vw; /* Revised -Stuart */
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 15% 40% 25%;
    grid-template-columns: 50% 50%;
    min-height: 200px;
    min-width: 250px;
}
}

#loginNotification > h2{ /* Hey There! */
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: max(1.9vw,2.8vh); /* Revised -Stuart */
}
#loginNotification > h3{ /* Looks like you aren't logged in */
    grid-row: 2;
    grid-column: 1 / span 2;
    font-size: max(.8vw,2vh); /* Revised -Stuart */
}
#loginNotification > p{ /* Create an account */
    font-size: max(.8vw,2vh);
    grid-row: 4;
    grid-column: 1 / span 2;
    text-decoration: underline;
}
#loginCont, #guestCont{ /* Login & Continue as Guest */
    font-size: max(1.4vw,2.2vh);
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    border-color: black;
    height: 70%;
    width: 75%;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.9);
}
#loginCont:hover, #guestCont:hover{
    opacity: 0.3;
}
#loginCont{
    grid-row: 3;
    grid-column: 1;
}
#guestCont{
    grid-row: 3;
    grid-column: 2;
}

#greywrapper{
    z-index: 3;
    background-color: rgba(102,102,102,0.6);
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
}

/* ============================================================================
 * Login Page
 =========================================================================== */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#loginMain{
    visibility: hidden;
    z-index: 4;
    grid-row: 2;
    grid-column: 2;
    background-color: rgba(256,256,256,1);
    background-size: cover;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    height: 40%;
    width: 70%; /* Revised -Stuart */
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 20% 15% 30% 10%;
    grid-template-columns: 50% 50%;
    min-height: 200px;
    min-width: 250px;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#loginMain{
    visibility: hidden;
    z-index: 4;
    grid-row: 2;
    grid-column: 2;
    background-color: rgba(256,256,256,1);
    background-size: cover;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    height: 40%;
    width: 80vw; /* Revised -Stuart */
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 20% 15% 30% 10%;
    grid-template-columns: 50% 50%;
    min-height: 200px;
    min-width: 250px;
}
}

#loadingNotif{
    grid-row: 5;
    grid-column: 1 / span 2;
    visibility: hidden;
    font-size: max(1vw, 2vh);
    color:black;
    justify-self: center;
    align-self: center;
}

#invalidLogin{
    grid-row: 5;
    grid-column: 1 / span 2;
    visibility: hidden;
    font-size: max(1vw, 2vh);
    color:red;
    justify-self: center;
    align-self: center;
}

#loginMain > h1{ /* Login */
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: max(2vw, 4vh); /* Revised -Stuart */
}
#usertext{ /* Username */
    grid-row: 2;
    grid-column: 1;
    justify-self: right;
    font-size: max(1vw, 2vh); /* Revised -Stuart */
}
#passtext{ /* Password */
    grid-row: 3;
    grid-column: 1;
    justify-self: right;
    font-size: max(1vw, 2vh); /* Revised -Stuart */
}
#quitLogin{ /* X */
    grid-row: 1;
    grid-column: 2;
    justify-self: right;
    align-self: start;
    margin-top: 5%;
    margin-right: 5%;
    font-size: max(1vw, 2vh); /* Revised -Stuart */
    border-style: none;
}
#user{ /* Username input */
    grid-row: 2;
    grid-column: 2;
    justify-self: left;
    margin-left: 5%;
    font-size: max(0.8vw, 1.6vh); /* Revised -Stuart */
    width: 60%;
    height: min(1.5vh, 3vw); /* New -Stuart */
}
#pass{ /* Password input */
    grid-row: 3;
    grid-column: 2;
    justify-self: left;
    margin-left: 5%;
    font-size: max(0.8vw, 1.6vh); /* Revised -Stuart */
    width: 60%;
    height: min(1.5vh, 3vw); /* New -Stuart */
}
#quitLogin:hover{
    opacity: 0.3;
}
#proceedLogin,#createAccInstead{ /* Login & Create acccount instead buttons */
    width: 75%; /* Revised -Stuart */
    height: 30%; /* Revised -Stuart */
    font-family: 'Kanit', sans-serif;
    grid-row:4;
    font-size: max(.7vw,1.5vh); /* Revised -Stuart */
}
#proceedLogin{
    grid-column: 2;
    justify-self: left;
    margin-left: 5%;
}
#createAccInstead{
    grid-column: 1;
    justify-self: right;
    margin-right: 5%;
}



/* ============================================================================
 * Create Account
 =========================================================================== */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#accountCreation{
    visibility: hidden;
    z-index: 4;
    grid-row: 2;
    grid-column: 2;
    background-color: rgba(256,256,256,1);
    background-size: cover;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    height: 40%;
    width: 70%; /* Revised -Stuart */
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 15% 15% 15% 20% 10%;
    grid-template-columns: 50% 50%;
    min-height: 200px;
    min-width: 250px;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#accountCreation{
    visibility: hidden;
    z-index: 4;
    grid-row: 2;
    grid-column: 2;
    background-color: rgba(256,256,256,1);
    background-size: cover;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    height: 40%;
    width: 80vw; /* Revised -Stuart */
    display: grid;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 15% 15% 15% 20% 10%;
    grid-template-columns: 50% 50%;
    min-height: 200px;
    min-width: 250px;
}
}

#accountCreation > h1{ /* Create Account */
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: max(2vw, 4vh); /* Revised -Stuart */
}

#quitCreate{ /* X */
    grid-row: 1;
    grid-column: 2;
    justify-self: right;
    align-self: start;
    margin-top: 5%;
    margin-right: 5%;
    font-size: max(.9vw, 1.8vh); /* Revised -Stuart */
    border-style: none;
}
#quitCreate:hover{
    opacity: 0.3;
}

#emailtext, #createPassText, #nameText{ /* 3 inputs' HTNLs */
    grid-column: 1;
    font-size: max(1vw, 2vh); /* Revised -Stuart */
    justify-self: right;
    margin-right: 5%;
}

#emailCreate, #passCreate, #nameCreate{ /* 3 inputs */
    grid-column: 2;
    justify-self: left;
    margin-left: 5%;
    width: 60%; /* Revised -Stuart */
    font-size: max(0.8vw, 1.6vh); /* New -Stuart */
    height: min(1.5vh, 3vw); /* New -Stuart */
}

#emailtext, #emailCreate{
    grid-row: 2;
}

#createPassText, #passCreate{
    grid-row: 3;
}

#nameText, #nameCreate{
    grid-row: 4;
}

#switchToLogin{ /* Sign in instead button */
    grid-row: 5;
    grid-column: 1;
    justify-self: right;
    margin-right: 5%;
    width: 75%; /* Revised -Stuart */
    height: 60%;
    font-size: max(.7vw,1.5vh); /* Revised -Stuart */
    font-family: 'Kanit', sans-serif;
}

#createAcc{ /* Create button */
    grid-row: 5;
    grid-column: 2;
    justify-self: left;
    margin-left: 5%;
    width: 75%; /* Revised -Stuart */
    height: 60%;
    font-size: max(.7vw,1.5vh); /* Revised -Stuart */
    font-family: 'Kanit', sans-serif;
}

#createError{
    grid-row: 6;
    color:red;
    grid-column: 1 / span 2;
    justify-self: center;
    font-size: max(.7vw,1.5vh);
    align-self: center;
    visibility: hidden;
}

/* ============================================================================
 * Header/Navigation Bar
 =========================================================================== */

#header {
    grid-row: 1;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 10% 15% 10% 30% 25% 10%; /* revised -Stuart*/
    grid-template-rows: 100%;
    background-color: rgba(3,165,89,0.7);
    color: white;
    text-shadow: 0.2vw 0.2vh black; /* Revised - Stuart */
    font-size: max(2vh,3.5vw); /* revised -Stuart */
    align-items: center;
    border-bottom-left-radius: max(2vw, 2vh); /* Revised -Stuart */
    border-bottom-right-radius: max(2vw, 2vh); /* Revised -Stuart */
    min-height: 50px;
    width: 100vw; /* New -Stuart */
}

/* 1. profile image */
#profilepic{ 
    grid-row:1;
    grid-column: 1;
    height:4vh;
    width: 4vh;
    opacity: 0.5;
    justify-self: right;
}
#profilepic:hover{
    opacity: 0.3;
}

/* 2. welcome HTML */
#welcome { 
    grid-row: 1;
    grid-column: 2;
    justify-self: left;
    font-size: max(1.5vw,1.3vh); /* New */
    color: rgba(256,256,256,1);
    margin-left: 5%;
}

/* 3. stats icon */
#stats{ 
    grid-row:1;
    grid-column: 3;
    height:4vh;
    width: 4vh;
    justify-self: left;
    margin-left: 2%;
}
#stats:hover{
    opacity: 0.3;
}

/* 4. PomoTime HTML */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
header>h1 {
    grid-row: 1;
    grid-column: 4;
    font-size: 3vw;
    justify-self: center;
    color: rgba(256,256,256,1);
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
header>h1 {
    grid-row: 1;
    grid-column: 4;
    font-size: 6vw;
    justify-self: center;
    color: rgba(256,256,256,1);
}
}

/* 5. Doge */
/* doge rectangle */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#dogecoin{
    grid-row: 1;
    grid-column: 5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    background-color: rgba(256,256,256,0.4);
    border-radius: 10px;
    height:5vh;
    width: 8vw;
    justify-self: center;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#dogecoin{
    grid-row: 1;
    grid-column: 5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    background-color: rgba(256,256,256,0.4);
    border-radius: 10px;
    height:5vh;
    width: 16vw;
    justify-self: center;
}
}
#dogecoin:hover{
    opacity:0.4;
}
#coinimg{ /* doge coin image */
    height: 4vh;
    width: 4vh;
    grid-row: 1;
    grid-column: 1;
}
#cointext{ /* doge coin HTML */
    grid-column: 2;
    grid-row: 1;
    font-size: max(1.3vw,1.3vh); /* New */ 
}

/* 6. Gear */
#options {
    grid-column: 6;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 70% 30%;
}
#options>h2 {
    grid-column: 1;
    justify-self: right;
}
#gear { /* gear image */
    height: 4vh;
    width: 4vh;
    grid-column: 1;
    justify-self: left;
    margin-left: 2%;
}
#gear:hover {
    opacity: 0.3;
}



/* ============================================================================
 * Teams Feature
 =========================================================================== */
/* Wide screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#teams{
    z-index: 999; /* New -Stuart (put at top) */
    visibility: hidden;
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(256,256,256,1); /* Revised -Stuart */
    /* margin-top:5%; */ /* Revised -Stuart */
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 10px;
    height: 40%;
    width: 60%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 30% 30% 30% 10%;
    display: grid;
    min-height: 100px;
    min-width: 100px;
}
}
/* High screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#teams{
    z-index: 999; /* New -Stuart (put at top) */
    visibility: hidden;
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(256,256,256,1); /* Revised -Stuart */
    /* margin-top:5%; */ /* Revised -Stuart */
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 10px;
    height: 40%;
    width: 100%; /* Revised -Stuart */
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 30% 30% 30% 10%;
    display: grid;
    min-height: 100px;
    min-width: 100px;
}
}

#teamsExit{ /* X */
    grid-row: 1;
    grid-column: 4;
    justify-self: right;
    align-self: start;
    margin-top: 3%;
    margin-right: 3%;
    font-size: max(1.3vw, 2vh); /* Revised -Stuart */
}

#invite{ /* Invite button */
    font-family: 'Kanit', sans-serif;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: start;
    margin-top: 5%;
    margin-left: 5%;
    width: 70%;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
    border-radius: 4px;
    border-width: 0px;
}

#createTeamButton{ /* Create button */
    font-family: 'Kanit', sans-serif;
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
    align-self: start;
    margin-top: 5%;
    margin-left: 5%;
    width: 70%;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
    border-radius: 4px;
    border-width: 0px;
}

#createTeamButton:hover, #teamsExit:hover, #invite:hover, #teamsAccountLogin:hover{
    opacity: 0.3;
}

#teamsAccountLogin{ /* Login button */
    font-family: 'Kanit', sans-serif;
    grid-row: 5;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    margin-top: 5%;
    margin-left: 5%;
    width: 70%;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
    border-radius: 4px;
    border-width: 0px;
}

#teamsLabel{ /* Teams */
    grid-row: 1;
    grid-column: 2;
    align-self: start;
    justify-self: center;
    font-size: max(1vw, 1.5vh); /* Revised -Stuart */
}

#disableText{ /* Disable Teams */
    grid-row: 5;
    grid-column:3;
    justify-self: right;
    align-self: center;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
}

#disableTeams{ /* Disable Teams check */
    grid-row: 5;
    grid-column:4;
    justify-self: center;
    align-self: center;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
}

#inviteSuccess{
    grid-row: 5;
    grid-column:2;
    justify-self: center;
    align-self: center;
    font-size: max(.8vw, 1.2vh);
    color: green;
    visibility: hidden;
}

#teamsEntry{
    grid-row: 2 / span 3;
    grid-column: 1 / span 3;
    justify-self: stretch;
    align-self: stretch;
    display:grid;
    overflow: hidden;
    overflow-y: scroll;
}

#notExist{
    grid-row: 4;
    font-size: max(.7vw, 1vh);
    justify-self: center;
    align-self: center;
    grid-column: 1/ span 4;
}

.TeamRow{
    font-size: max(1vw, 1.4vh);
    justify-self: center;
    align-self: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    border-width: 2px;
}

.TeamRow:hover{
    opacity:0.3;
}


/* ============================================================================
 * Create Team
 =========================================================================== */
/* Wide screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#createTeam{
    z-index: 9999; /* New -Stuart (put at top) */
    visibility: hidden;
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(256,256,256,1); /* Revised -Stuart */
    /* margin-top:5%; */ /* Revised -Stuart */
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 10px;
    height: 40%;
    width: 60%;
    grid-template-rows: 20% 10% 10% 10% 10% 10% 20% 10%;
    grid-template-columns: 15% 30% 50% 5%;
    display: grid;
    min-height: 100px;
    min-width: 100px;
}
}
/* High screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#createTeam{
    z-index: 9999; /* New -Stuart (put at top) */
    visibility: hidden;
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(256,256,256,1); /* Revised -Stuart */
    /* margin-top:5%; */ /* Revised -Stuart */
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 10px;
    height: 40%;
    width: 100%; /* Revised -Stuart */
    grid-template-rows: 20% 10% 10% 10% 10% 10% 20% 10%;
    grid-template-columns: 15% 30% 50% 5%;
    display: grid;
    min-height: 100px;
    min-width: 100px;
}
}

#quitCreateTeam{ /* X */
    grid-row: 1;
    grid-column: 4;
    justify-self: right;
    align-self: start;
    margin-top: 3%;
    margin-right: 3%;
    font-size: max(1.3vw, 1.6vh); /* Revised -Stuart */
}

#quitCreateTeam:hover{
    opacity: 0.3;
}

#backToTeams{ /* Back button */
    font-family: 'Kanit', sans-serif;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: start;
    /* margin-top: 5%; */
    margin-left: 5%;
    width: max(3vw, 3vh);
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
}

#finalizeCreate{ /* Create */
    font-family: 'Kanit', sans-serif;
    grid-row: 8;
    grid-column: 1/ span 3;
    justify-self: center;
    align-self: start;
    width: 30%;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
}

#finalizeCreate:hover{
    opacity: 0.3;
}

#createTeamTag{
    grid-row: 1;
    grid-column: 1 / span 4;
    align-self: center;
    justify-self: center;
    font-size: max(1vw, 1.3vh); /* Revised -Stuart */
}

#teamName{
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-self: right;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
    margin-right: 5%;
}

#workTeam{
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-self: right;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
    margin-right: 5%;
}

#shortTeam{
    grid-row: 4;
    grid-column: 2;
    align-self: center;
    justify-self: right;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
    margin-right: 5%;
}

#longTeam{
    grid-row: 5;
    grid-column: 2;
    align-self: center;
    justify-self: right;
    font-size: max(.7vw, 1vh); /* Revised -Stuart */
    margin-right: 5%;
}

#createTeam > input{
    width: 80%;
    font-size: 0.7vw;
    height: 50%;
    align-self: center;
}

#nameTeam{
    grid-row: 2;
    grid-column: 3;
}

#workTimeTeam{
    grid-row: 3;
    grid-column: 3;
}

#shortTimeTeam{
    grid-row: 4;
    grid-column: 3;
}

#longTimeTeam{
    grid-row: 5;
    grid-column: 3;
}

/* ============================================================================
 * Invite Team Member
 =========================================================================== */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#inviteTeam{
    z-index: 999; /* New -Stuart (put at top) */
    visibility: hidden;
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(256,256,256,1); /* Revised -Stuart */
    /* margin-top:5%; */ /* Revised -Stuart */
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 10px;
    height: 40%;
    width: 60%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 40% 20%;
    display: grid;
    min-height: 100px;
    min-width: 100px;
}
}
/* High screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#inviteTeam{
    z-index: 999; /* New -Stuart (put at top) */
    visibility: hidden;
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(256,256,256,1); /* Revised -Stuart */
    /* margin-top:5%; */ /* Revised -Stuart */
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 10px;
    height: 40%;
    width: 100%; /* Revised -Stuart */
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 40% 20%;
    display: grid;
    min-height: 100px;
    min-width: 100px;
}
}

#inviteTeamTag{
    grid-row: 1;
    grid-column: 1 / span 4;
    align-self: center;
    justify-self: center;
    font-size: max(1vw, 1.3vh); /* Revised -Stuart */
}

#backToTeamsMain{ /* Back button */
    font-family: 'Kanit', sans-serif;
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: start;
    /* margin-top: 5%; */
    margin-left: 5%;
    width: max(3vw, 3vh);
    font-size: max(.7vw, 1vh);
}

#quitInviteTeam{ /* X */
    grid-row: 1;
    grid-column: 4;
    justify-self: right;
    align-self: start;
    margin-top: 3%;
    margin-right: 3%;
    font-size: max(1.3vw, 1.6vh);
}

#quitInviteTeam:hover{
    opacity: 0.3;
}

#finalizeInvite{ /* Create */
    font-family: 'Kanit', sans-serif;
    grid-row: 5;
    grid-column: 1/ span 4;
    justify-self: center;
    align-self: start;
    width: 30%;
    font-size: max(.7vw, 1vh);
}

#finalizeInvite:hover{
    opacity: 0.3;
}

#inviteTeam > input{
    width: 80%;
    font-size: 0.7vw;
    height: 50%;
    align-self: center;
    justify-self: center;
}

#emailInvite{
    grid-row: 2;
    grid-column: 3;
}

#teamEmail{
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-self: left;
    font-size: max(.7vw, 1vh);
    margin-right: 5%;
}
/* ============================================================================
 * Timer
 =========================================================================== */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#main {
    display: grid;
    justify-items: center;
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 30% 30% 20%;
    grid-template-columns: 100%;
    background-color: rgba(256,256,256,0.4);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    z-index:1;

    width: 75%;
    max-width: 50vw;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#main {
    display: grid;
    justify-items: center;
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 30% 30% 20%;
    grid-template-columns: 100%;
    background-color: rgba(256,256,256,0.4);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    z-index:1;

    width: 90vw;
    height: 65%;
    min-height: 400px;
}
}

#mode-selection {
    /*TEMEPORARILY DISABLED*/
    visibility: hidden;
    align-items: center;
    display: grid;
    grid-template-areas: "Work Short Long";
    justify-items: center;
    grid-row: 2;
    grid-column: 1;
}

#chart {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    width: 40%;
    font-size: 2vh;
    margin-right: 5%;
}

#chart td {
    margin-right: 40%;
    text-align: center;
    font-size: max(1vw,1.5vh);
}

#chart tr {
    margin-bottom: 50%;
}

#counter {
    opacity: 1;
}

#radio-working-mode-container,
#radio-shortBreak-mode-container {
    padding-right: 30px;
}

#start-btn { /* start button */
    background-color: rgba(256,256,256,0.6);
    border: none;
    border-radius: 5px;
    grid-row: 3;
    grid-column: 1;
    align-self: center;
    transition: 0.2s ease all;
    font-family: 'Kanit', sans-serif;
    font-size: max(1.5vw, 2vh); /* Revised -Stuart */
    height: 70%;
    width: 30%;
}

#start-btn:hover {
    cursor: pointer;
    background-color: #aaa;
    transition: 0.1s ease all;
}

#start-btn-container {
    display: grid;
    justify-items: center;
    width: 100%;
}

#time {
    font-size: max(6vw,8vh); /* Revised -Stuart */
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}


/* ============================================================================
 * Settings Menu
 =========================================================================== */
/* Wide screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#settingsMenu {
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    margin-top: 5%; /* Revised -Stuart */
    margin-bottom: 5%; /* Revised -Stuart */
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 8% 10% 10% 10% 10% 10% 10% 10% 10% 12%;
    z-index: 2;
    width: 75%; /* Revised -Stuart */
    justify-self: center;
    min-width: 300px;
    min-height: 400px;
}
}
/* High screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#settingsMenu {
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    margin-top: 5%; /* Revised -Stuart */
    margin-bottom: 5%; /* Revised -Stuart */
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 8% 10% 10% 10% 10% 10% 10% 10% 10% 12%;
    z-index: 2;
    width: 90vw; 
    height: 75%; /* Revised -Stuart */
    justify-self: center;
    /* min-width: 300px; */
    min-height: 400px;
}
}

#settingsMenu > input { /* Make them not like buttons */
    /* background-color: rgba(256,256,256,0.6); */
    background-color: white;
    /* border-radius:8px; */
    font-family: 'Kanit', sans-serif;
}

#settingsMenu > h3{
    justify-self: right;
    margin-right: 20%;
}

#exitSettings {
    grid-row: 1;
    grid-column: 4;
    font-size: 4vh;
}

#exitSettings:hover {
    opacity: 0.3;
}

#settingsTitle {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 4vh;
    justify-self: center;
}

#volume-controls {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    justify-self: stretch;
    justify-items: center;
    align-items: center;
}

#volume-pic {
    height: 90%;
    width: 90%;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

#volume-slider {
    grid-column: 2;
    grid-row:1;
    background-color: black;
    width: 80%;
}

#volume-slider:hover {
    opacity: 1;
}

#volume-slider::-webkit-slider-thumb {
    cursor: pointer;
}


#settingsButtons{
    grid-row:10;
    grid-column:2 / span 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#saveSettings{ /* save button */
    border-radius: 0.3em;
    font-size: max(2vw, 3.5vh); /* Revised -Stuart */
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.4);
    /* margin-left: 5%; */
}

#saveSettings{ /* save button */
    /* margin-left: 15%; */
    grid-row: 1;
    grid-column: 1;
}

#saveSettings:hover {
    opacity: 0.3;
}
/* 
#statistics { /* stats button 
    grid-row: 1;
    grid-column: 1;
    border-radius: 0.3em;
    font-size: max(2vw, 3.5vh);
    justify-self: center;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.4);
}

#statistics:hover{
    opacity: 0.3;
} */


/* Settings: User inputs */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#WorkTimeTitle { /* times HTML */
    grid-row: 3;
    grid-column: 2;
    font-size: 1.5vw;
}

#ShortBreakTitle {
    grid-row: 4;
    grid-column: 2;
    font-size: 1.5vw;
}

#LongBreakTitle {
    grid-row: 5;
    grid-column: 2;
    font-size: 1.5vw;
}

#work-time-number { /* times inputs */
    grid-row: 3;
    grid-column: 3;
    font-size: 1vw;
    width: 3vw;
    /* min-width: 60px; */
    height: 1vw;
    justify-self: left;
}

#short-break-number {
    grid-row: 4;
    grid-column: 3;
    font-size: 1vw;
    width: 3vw;
    /* min-width: 60px; */
    height: 1vw;
    justify-self: left;
}

#long-break-number {
    grid-row: 5;
    grid-column: 3;
    font-size: 1vw;
    width: 3vw;
    /* min-width: 60px; */
    height: 1vw;
    justify-self: left;
}

#sound-select {
    grid-row: 8;
    grid-column: 2;
    font-size: 1.5vw;
}
#sound-selection{
    grid-row: 8;
    grid-column: 3;
    font-size: 1vw;
    width: 100%;
    align-self: center;
    font-family: 'Kanit', sans-serif;
}

#languageTitle {
    grid-row: 7;
    grid-column: 2;
    font-size: 1.5vw;
}

#language-form {
    grid-row: 7;
    grid-column: 3;
    font-size: 1vw;
    width: 100%;
    min-width: 60px;
    align-self: center;
    font-family: 'Kanit', sans-serif;
}

#LongBreakInterval { /* lbr HTML */
    grid-row: 6;
    grid-column: 2;
    font-size: 1.5vw;
}
#long-break-interval { /* lbr input */
    grid-row: 6;
    grid-column: 3;
    font-size: 1vw;
    width: 2em;
    /* min-width: 60px; */
    height: 1vw;
    justify-self: left;
}

#colorblindtitle{
    grid-row: 9;
    grid-column: 2;
    font-size: 1.5vw;
}

#colorblindbox{
    grid-row: 9;
    grid-column: 3;
    height:30%;
    width:30%;
    justify-self: left;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#WorkTimeTitle { /* times HTML */
    grid-row: 3;
    grid-column: 2;
    font-size: 2vh;
}

#ShortBreakTitle {
    grid-row: 4;
    grid-column: 2;
    font-size: 2vh;
}

#LongBreakTitle {
    grid-row: 5;
    grid-column: 2;
    font-size: 2vh;
}

#work-time-number { /* times input */
    grid-row: 3;
    grid-column: 3;
    font-size: 1.5vh;
    width: 40%;
    /* min-width: 60px; */
    height: 2vh;
    width: 3vh;
    justify-self: left;
}

#short-break-number {
    grid-row: 4;
    grid-column: 3;
    font-size: 1.5vh;
    width: 40%;
    /* min-width: 60px; */
    height: 2vh;
    width: 3vh;
    justify-self: left;
}

#long-break-number {
    grid-row: 5;
    grid-column: 3;
    font-size: 1.5vh;
    width: 40%;
    /* min-width: 60px; */
    height: 2vh;
    width: 3vh;
    justify-self: left;
}
#sound-select { /* ring HTML */
    grid-row: 8;
    grid-column: 2;
    font-size: 2vh;
}
#sound-selection{ /* ring select */
    grid-row: 8;
    grid-column: 3;
    font-size: 1.5vh;
    width: 100%;
    align-self: center;
    font-family: 'Kanit', sans-serif;
}

#languageTitle { /* language HTML */
    grid-row: 7;
    grid-column: 2;
    font-size: 2vh;
}

#language-form { /* language select */
    grid-row: 7;
    grid-column: 3;
    font-size: 1.5vh;
    width: 100%;
    min-width: 60px;
    align-self: center;
    font-family: 'Kanit', sans-serif;
}

#LongBreakInterval { /* lbr HTML*/
    grid-row: 6;
    grid-column: 2;
    font-size: 2vh;
}

#long-break-interval { /* lbr input */
    grid-row: 6;
    grid-column: 3;
    font-size: 1.5vh;
    width: 40%;
    /* min-width: 60px; */
    height: 2vh;
    width: 2vh;
    justify-self: left;
}

#colorblindtitle{ /* cbm HTML */
    grid-row: 9;
    grid-column: 2;
    font-size: 2vh;
}

#colorblindbox{ /* cbm box */
    grid-row: 9;
    grid-column: 3;
    height:30%;
    width:30%;
    justify-self: left;
}
}


/* ============================================================================
 * Statistics Menu
 =========================================================================== */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#statisticsMenu {
    visibility: hidden;
    justify-items: center; 
    justify-self: center; 
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    margin-top: 5%; /* New -Stuart */
    margin-bottom: 5%; /* New -Stuart */
    /* border-width: 2px; */
    width:75%; /* Revised -Stuart */
    /* border-color: black; */
    /* border-style: solid; */
    display: grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 8% 10% 10% 10% 10% 20% 10% 10% 12%;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#statisticsMenu {
    visibility: hidden;
    justify-items: center; 
    justify-self: center; 
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    margin-top: 5%; /* New -Stuart */
    margin-bottom: 5%; /* New -Stuart */
    /* border-width: 2px; */
    width:90vw;
    height:75%;
    /* border-color: black; */
    /* border-style: solid; */
    display: grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 8% 10% 10% 10% 10% 20% 10% 10% 12%;
    min-height: 400px;
}
}

#statisticsTitle {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 4vh;
}

/* HTMLs of worked time, rested time, and congrads */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#statsWork {
    grid-row: 4;
    grid-column: 2 / span 2;
    font-size: 1.5vw;
}
#statsBreak {
    grid-row: 5;
    grid-column: 2 / span 2;
    font-size: 1.5vw;
}
#statsCong {
    grid-row: 6;
    grid-column: 2 / span 2;
    font-size: 1.5vw;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#statsWork {
    grid-row: 4;
    grid-column: 2 / span 2;
    font-size: 2vh;
}
#statsBreak {
    grid-row: 5;
    grid-column: 2 / span 2;
    font-size: 2vh;
}
#statsCong {
    grid-row: 6;
    grid-column: 2 / span 2;
    font-size: 2vh;
}
}

#OKbtn-statistics { /* OK button */
    grid-row: 9;
    grid-column: 2 / span 2;
    width: 30%;
    border-radius: 0.3em;
    font-size: max(2vw, 3.5vh);
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.4);
}



/* ============================================================================
 * Doge Shop
 =========================================================================== */
/* Wide Screen */
@media screen and (min-device-aspect-ratio:1/1) { /* New -Stuart */
#dogeCoinMenu {
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    margin-top: 5%; /* Revised -Stuart */
    margin-bottom: 5%; /* Revised -Stuart */
    justify-items: center;
    display: grid;
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 8% 4% 4% 10% 10% 10% 10% 10% 10% 10% 10%;
    z-index: 2;
    width: 75%; /* Revised -Stuart */
    justify-self: center;
    min-width: 300px;
    min-height: 400px;
}
}
/* High Screen */
@media screen and (max-device-aspect-ratio:1/1) { /* New -Stuart */
#dogeCoinMenu {
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: max(3vw, 3vh); /* Revised -Stuart */
    margin-top: 5%; /* Revised -Stuart */
    margin-bottom: 5%; /* Revised -Stuart */
    justify-items: center;
    display: grid;
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 8% 4% 4% 10% 10% 10% 10% 10% 10% 10% 10%;
    z-index: 2;
    width: 90vw; /* Revised -Stuart */
    justify-self: center;
    min-width: 300px;
    min-height: 400px;
}
}

#dogeTitle{
    grid-row: 1;
    grid-column: 1 / span 4;
    align-self: center;
    justify-self: center;
    font-size: 4vh;
}

#dogeCoinMenu > div > p{
    margin-right: 5%;
}

#themeTitle{ /* Themes */
    grid-row: 2;
    grid-column: 1 / span 4;
    font-size: max(1.3vw, 2.6vh); /* Revised -Stuart */
    align-self: center;
}

#preview{ /* Click to Preview */
    font-size: max(1vw, 1.5vh); /* Revised -Stuart */
    grid-row: 3;
    grid-column: 2;
}

#select{ /* Buy/Select */
    font-size: max(1vw, 1.5vh); /* Revised -Stuart */
    grid-row: 3;
    grid-column: 3;
}

.theme { /* 5 names of themse + costs */
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    grid-column: 2;
    display:grid;
    width: 90%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    font-size: max(1vw,1.5vh); /* Revised -Stuart */
    margin-top: 5%;
    justify-items: center;
    align-items: center;
    background-color: rgba(256,256,256,0.4);
}

.buyButton{ /* 5 Buy buttons */
    grid-column: 3;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    justify-items: center;
    font-size: max(1vw, 1.3vh); /* Revised -Stuart */
    align-items: center;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.4);
    margin-top: 16%;
    width: 80%;
}

.buyButton:hover{
    opacity: 0.3;
}

.theme:hover{
    opacity: 0.3;
}

#wildjungle, #wildjunglebuy{
    grid-row: 4;
}

#night, #nightbuy{
    grid-row: 5;
}

#aquatic, #aquaticbuy{
    grid-row: 6;
}

#sanfrancisco, #sanfranciscobuy{
    grid-row: 7;
}

#dogeland, #dogebuy{
    grid-row: 8;
}

#insufficientText{ /* Insufficient Funds */
    grid-row: 10;
    grid-column: 2 / span 2;
    font-size: max(1.5vw, 2.5vh); /* Revised -Stuart */
    color: rgb(256,0,0,0.8);
    visibility: hidden;
}

#dogeSave{
    grid-row:11;
    font-size: max(2vw, 3.5vh);
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-family: 'Kanit', sans-serif;
    margin: 2% 5% 2% 5%;
    background-color: rgba(256,256,256,0.4);
    grid-column: 2 / span 2;
    justify-items: center;
    align-items: center;
}

#dogeSave:hover {
    opacity: 0.3;
}



/* ============================================================================
 * Footer
 =========================================================================== */

footer {
    grid-column: 1 / span 3;
    grid-row: 3;
    background-color: rgba(3,165,89,0.6);
    border-top-left-radius: max(2vw, 2vh); /* Revised -Stuart */
    border-top-right-radius: max(2vw, 2vh); /* Revised -Stuart */
    width: 100vw; /* New */
}