/******************************************************************************
 * File Name    : main.css
 * First Created: Feb 14 -- Yichen Han
 * Last  Revised: Feb 15 -- Suk Chan Lee
 * Curr  Version: 1,1
 * 
 * Description  : 
 * Variables    : 
 * Functions    : 
 * 
 * Next Feature : 
 *****************************************************************************/

#body {
    margin: 0 auto;
    white-space: nowrap;
    background-image: url("assets/wildjungle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10vh 80vh 10vh;
    margin: 0;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

fieldset {
    border: none;
}


/* ============================================================================
 * Header/Navigation Bar
 =========================================================================== */

#header {
    grid-row: 1;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 15% 15% 40% 10% 20%;
    grid-template-rows: 100%;
    background-color: rgba(3,165,89,0.6);
    color: white;
    text-shadow: 3px 3px black;
    font-size: 2vh;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header>h1 {
    grid-column: 3;
    font-size: 3vw;
    justify-self: center;
    color: rgba(256,256,256,1);
}

#options {
    grid-column: 5;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 70% 30%;
}

#options>h2 {
    grid-column: 1;
    justify-self: right;
}

#gear {
    height: 4vh;
    width: 4vh;
    grid-column: 2;
    justify-self: left;
    margin-left: 2%;
}

#gear:hover {
    opacity: 0.3;
}

#dogecoin{
    grid-column: 4;
    grid-row:1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    background-color: rgba(256,256,256,0.4);
    border-radius: 10px;
    height:5vh;
    width: 8vw;
}

#dogecoin:hover{
    opacity:0.4;
}

#coinimg{
    height: 4vh;
    width: 4vh;
    grid-row: 1;
    grid-column: 1;
}

#cointext{
    grid-column: 2;
    grid-row: 1;
}

#welcome {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
    font-size: 1.5vw;
    color: rgba(256,256,256,1);
}


/* ============================================================================
 * Timer
 =========================================================================== */

#main {
    display: grid;
    justify-items: center;
    justify-self: center;
    max-width: 50vw;
    grid-row: 2;
    grid-column: 2;
    grid-template-rows: 30% 30% 20%;
    grid-template-columns: 100%;
    background-color: rgba(256,256,256,0.4);
    margin-top: 5%;
    margin-bottom: 5%;
    width:75%;
    border-radius: 15px;
    z-index:1;
}

#mode-selection {
    /*TEMEPORARILY DISABLED*/
    visibility: hidden;
    align-items: center;
    display: grid;
    grid-template-areas: "Work Short Long";
    justify-items: center;
    grid-row: 2;
    grid-column: 1;
}

#chart {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    width: 40%;
    font-size: 2vh;
    margin-right: 5%;
}

#chart td {
    margin-right: 40%;
    text-align: center;
    font-size: 1vw;
}

#chart tr {
    margin-bottom: 50%;
}

#counter {
    opacity: 1;
}

#radio-working-mode-container,
#radio-shortBreak-mode-container {
    padding-right: 30px;
}

#start-btn {
    background-color: rgba(256,256,256,0.6);
    border: none;
    border-radius: 5px;
    grid-row: 3;
    grid-column: 1;
    align-self: center;
    transition: 0.2s ease all;
    font-family: 'Kanit', sans-serif;
    font-size: 2vh;
    height: 70%;
    width: 30%;
}

#start-btn:hover {
    cursor: pointer;
    background-color: #aaa;
    transition: 0.1s ease all;
}

#start-btn-container {
    display: grid;
    justify-items: center;
    width: 100%;
}

#time {
    font-size: 6vw;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}


/* ============================================================================
 * Settings Menu
 =========================================================================== */

#settingsMenu {
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: 8px;
    margin: 2% 5% 5% 2%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 8% 10% 10% 10% 10% 40% 12%;
    z-index: 2;
    width: 80%;
    justify-self: center;
}

#exitSettings {
    grid-row: 1;
    grid-column: 4;
    font-size: 4vh;
}

#exitSettings:hover {
    opacity: 0.3;
}

#settingsTitle {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 4vh;
}

#volume-controls {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: grid;
    grid-auto-columns: 20% 80%;
}

#volume-pic {
    height: 90%;
    width: 90%;
    grid-column: 1;
}

#volume-slider {
    grid-column: 2 / span 2;
    opacity: 0.7;
    transition: opacity .3s;
    background-color: black;
    width: 80%;
}

#volume-slider:hover {
    opacity: 1;
}

#volume-slider::-webkit-slider-thumb {
    cursor: pointer;
}

#settingsButtons{
    grid-row: 7;
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#saveSettings{
    grid-row: 1;
    grid-column: 2;
    border-radius: 8px;
    font-size: 2vw;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.4);
    margin-left: 5%;
}

#saveSettings:hover {
    opacity: 0.3;
}

#statistics {
    margin-right: 5%;
    grid-row: 1;
    grid-column: 1;
    border-radius: 8px;
    font-size: 2vw;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.4);
}

#statistics:hover {
    opacity: 0.6;
}

#WorkTimeTitle {
    grid-row: 3;
    grid-column: 2;
    font-size: 1.5vw;
}

#ShortBreakTitle {
    grid-row: 4;
    grid-column: 2;
    font-size: 1.5vw;
}

#LongBreakTitle {
    grid-row: 5;
    grid-column: 2;
    font-size: 1.5vw;
}

#work-time-number {
    grid-row: 3;
    grid-column: 3;
    font-size: 1vw;
    width: 40%;
    min-width: 60px;
    height: 1vw;
}

#short-break-number {
    grid-row: 4;
    grid-column: 3;
    font-size: 1vw;
    width: 40%;
    min-width: 60px;
    height: 1vw;
}

#long-break-number {
    grid-row: 5;
    grid-column: 3;
    font-size: 1vw;
    width: 40%;
    min-width: 60px;
    height: 1vw;
}

/* ============================================================================
 * Doge Shop
 =========================================================================== */
 #dogeCoinMenu {
    visibility: hidden;
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(256,256,256,0.4);
    border-radius: 8px;
    margin: 2% 5% 5% 2%;
    justify-items: center;
    display: grid;
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 8% 8% 10% 10% 10% 10% 10% 10% 10% 10%;
    z-index: 2;
    width: 80%;
    justify-self: center;
}

#dogeTitle{
    grid-row: 1;
    grid-column: 1 / span 4;
    align-self: center;
    justify-self: center;
    font-size: 4vh;
}

#dogeCoinMenu > div > p{
    margin-right: 5%;
}

#themeTitle{
    grid-row: 2;
    grid-column: 1 / span 4;
    font-size: 1.5vw;
}

.theme {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    grid-column: 2;
    display:grid;
    width: 90%;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    font-size: 1vw;
    margin-top: 5%;
    justify-items: center;
    align-items: center;
    background-color: rgba(256,256,256,0.4);
}

.buyButton{
    grid-column: 3;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    justify-items: center;
    font-size: 1vw;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    background-color: rgba(256,256,256,0.4);
    margin-top: 16%;
    width: 70%;
}

.buyButton:hover{
    opacity: 0.3;
}

.theme:hover{
    opacity: 0.3;
}

#wildjungle, #wildjunglebuy{
    grid-row: 3;
}

#night, #nightbuy{
    grid-row: 4;
}

#aquatic, #aquaticbuy{
    grid-row: 5;
}

#sanfrancisco, #sanfranciscobuy{
    grid-row: 6;
}

#dogeland, #dogebuy{
    grid-row: 7;
}

#insufficientText{
    grid-row: 9;
    grid-column: 2 / span 2;
    font-size: 1.5vw;
    color: rgb(256,0,0,0.8);
    visibility: hidden;
}

#dogeSave{
    grid-row:10;
    font-size: 2vw;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-family: 'Kanit', sans-serif;
    margin: 2% 5% 2% 5%;
    background-color: rgba(256,256,256,0.4);
    grid-column: 2 / span 2;
    justify-items: center;
    align-items: center;
}

#dogeSave:hover {
    opacity: 0.3;
}
/* ============================================================================
 * Footer
 =========================================================================== */

footer {
    grid-column: 1 / span 3;
    grid-row: 3;
    background-color: rgba(3,165,89,0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}